body{
    background-image: url("../images/bg_007.jpg");
    width:100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

#bio{
    background-color: black;
    background-image:none;
}