table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

b, strong, .strong {
  font-weight: bold; }

dfn, em, .em {
  font-style: italic; }

small, .small {
  font-size: 75%; }

ul, ol {
  padding: 0;
  list-style-type: none; }

dd {
  margin: 0; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  width: 980px;
  margin: 0 auto;
  max-width: 980px; }

.byline {
  color: #999; }

  .entry-content.character-bios {
    width: 100%;
    overflow: hidden;
    background-color: #b8b8b9;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative; }
  
    .entry-content.character-bios #character-bios-container {
      opacity: 1;
      -webkit-perspective: 0px;
      -moz-perspective: 0px;
      perspective: 0px;
      -webkit-transition: perspective;
      -transition: perspective;
      transition: perspective;
      -webkit-transition-property: perspective;
      -moz-transition-property: perspective;
      transition-property: perspective;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      transition-delay: 0s;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      -webkit-perspective-origin: 50% 20%;
      -moz-perspective-origin: 50% 20%;
      perspective-origin: 50% 20%;
      -webkit-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      transform: translate3d(0px, 0px, 0px);
      width: 100%;
      height: 600px;
      position: relative;
      margin-top: 0px;
      margin-bottom: 0px; }
      .entry-content.character-bios #character-bios-container #bio-error {
        width: 100%;
        height: 100%;
        color: white;
        background-color: black;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px; }
        .entry-content.character-bios #character-bios-container #bio-error p {
          text-align: center; }
      .entry-content.character-bios #character-bios-container .bg {
        background-color: #b8b8b9;
        width: 5000px;
        height: 2000px;
        -webkit-transform: translate3d(-1200px, -500px, -1500px);
        -moz-transform: translate3d(-1200px, -500px, -1500px);
        -ms-transform: translate3d(-1200px, -500px, -1500px);
        -o-transform: translate3d(-1200px, -500px, -1500px);
        transform: translate3d(-1200px, -500px, -1500px); }
      .entry-content.character-bios #character-bios-container #bioImg_container img {
        margin-bottom: 0px;
        display: block; }
      .entry-content.character-bios #character-bios-container #timeline {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: translate3d(0, 50px, -50px);
        -moz-transform: translate3d(0, 50px, -50px);
        -ms-transform: translate3d(0, 50px, -50px);
        -o-transform: translate3d(0, 50px, -50px);
        transform: translate3d(0, 50px, -50px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 1s ease-out 0s;
        -transition: opacity 1s ease-out 0s;
        transition: opacity 1s ease-out 0s;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }

          .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item {
            position: absolute;
            width: auto;
            height: 764px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none; }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item:hover {
              cursor: pointer; }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_0 {
              -webkit-transform: translate3d(50px, 0px, -50px);
              -moz-transform: translate3d(50px, 0px, -50px);
              -ms-transform: translate3d(50px, 0px, -50px);
              -o-transform: translate3d(50px, 0px, -50px);
              transform: translate3d(50px, 0px, -50px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_1 {
              -webkit-transform: translate3d(750px, 0px, -50px);
              -moz-transform: translate3d(750px, 0px, -50px);
              -ms-transform: translate3d(750px, 0px, -50px);
              -o-transform: translate3d(750px, 0px, -50px);
              transform: translate3d(750px, 0px, -50px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_2 {
              -webkit-transform: translate3d(50px, 0px, -450px);
              -moz-transform: translate3d(50px, 0px, -450px);
              -ms-transform: translate3d(50px, 0px, -450px);
              -o-transform: translate3d(50px, 0px, -450px);
              transform: translate3d(50px, 0px, -450px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_3 {
              -webkit-transform: translate3d(750px, 0px, -450px);
              -moz-transform: translate3d(750px, 0px, -450px);
              -ms-transform: translate3d(750px, 0px, -450px);
              -o-transform: translate3d(750px, 0px, -450px);
              transform: translate3d(750px, 0px, -450px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_4 {
              -webkit-transform: translate3d(50px, 0px, -850px);
              -moz-transform: translate3d(50px, 0px, -850px);
              -ms-transform: translate3d(50px, 0px, -850px);
              -o-transform: translate3d(50px, 0px, -850px);
              transform: translate3d(50px, 0px, -850px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_5 {
              -webkit-transform: translate3d(750px, 0px, -850px);
              -moz-transform: translate3d(750px, 0px, -850px);
              -ms-transform: translate3d(750px, 0px, -850px);
              -o-transform: translate3d(750px, 0px, -850px);
              transform: translate3d(750px, 0px, -850px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_6 {
              -webkit-transform: translate3d(50px, 0px, -1250px);
              -moz-transform: translate3d(50px, 0px, -1250px);
              -ms-transform: translate3d(50px, 0px, -1250px);
              -o-transform: translate3d(50px, 0px, -1250px);
              transform: translate3d(50px, 0px, -1250px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_7 {
              -webkit-transform: translate3d(750px, 0px, -1250px);
              -moz-transform: translate3d(750px, 0px, -1250px);
              -ms-transform: translate3d(750px, 0px, -1250px);
              -o-transform: translate3d(750px, 0px, -1250px);
              transform: translate3d(750px, 0px, -1250px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_8 {
              -webkit-transform: translate3d(50px, 0px, -1650px);
              -moz-transform: translate3d(50px, 0px, -1650px);
              -ms-transform: translate3d(50px, 0px, -1650px);
              -o-transform: translate3d(50px, 0px, -1650px);
              transform: translate3d(50px, 0px, -1650px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_9 {
              -webkit-transform: translate3d(750px, 0px, -1650px);
              -moz-transform: translate3d(750px, 0px, -1650px);
              -ms-transform: translate3d(750px, 0px, -1650px);
              -o-transform: translate3d(750px, 0px, -1650px);
              transform: translate3d(750px, 0px, -1650px); }
            .entry-content.character-bios #character-bios-container #timeline #characters .timeline_item.item_10 {
              -webkit-transform: translate3d(50px, 0px, -2000px);
              -moz-transform: translate3d(50px, 0px, -2000px);
              -ms-transform: translate3d(50px, 0px, -2000px);
              -o-transform: translate3d(50px, 0px, -2000px);
              transform: translate3d(50px, 0px, -2000px); }