/*
max-width 960
*/
@media (max-width : 900px){
    .shopping_cart .cartWrapp .productListing-heading{font: bold 13px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    .shopping_cart .cartWrapp .cartItemImage > a{width: 160px;}
    .shopping_cart .cartWrapp .cartItemImage img{max-width: 150px;}
    .cartItemImage, .shopping_cart .cartWrapp .headingImage{width: 155px;}
    .cartItemImage .cart-price-gift{top: 17px;}
    .shopping_cart .cartWrapp .productListing-data.cartItemPrice{font: bold 14px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    .shopping_cart .cartWrapp .cartItemName{font: bold 12px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    .headingQty{width: 24%;}
}
@media (max-width : 767px) {
    body {
        min-width: 320px;
    }
    .f_anim,.header-search input[type="text"] {
        -moz-transition: all .2s 0s ease-in;
        -o-transition: all .2s 0s ease-in;
        -webkit-transition: all .2s 0s ease-in;
        -ms-transition: all .2s 0s ease-in;
    }
    .f_s_anim,.header-search input[type="text"] ~ span {
        -moz-transition: all .2s .2s ease-in;
        -o-transition: all .2s .2s ease-in;
        -webkit-transition: all .2s .2s ease-in;
        -ms-transition: all .2s .2s ease-in;
    }
    textarea {
        overflow: auto;
        vertical-align: top;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    .header-cart-ico a {
        text-indent: 1000em;
    }
    .contentBottomRight,
    .contentTopRight,
    .home-carousel {
        display: none;
    }
    .banner-wrap {
        display:none;
    }
    .banner-wrap-mob{
        display: block;
    }
    .banner-wrap-mob .nivo-caption{font-size: 15px;}
    #hero-content {
        margin:25px 0 0 0;
    }
    #new-category-products {
        padding:0px;
    }
    .hero-wrap {
        display:none;
    }
    #wrapper {
        width: 100%;
    }
    .store-category {
        float: none;
        margin: 0 0px 17px;
        width: auto;
    }
    #content {
        padding: 5px 15px 30px;
    } 
    .store-product img {
        width: 100%; //or max-width:100%;
        height: auto;
        display: inline;
    }
    .footer-nav a {
        display: block;
        letter-spacing: 2px;
        font-size: 18px;
        margin-bottom: 11px;
    }
    .footer-nav {
        padding:15px 5px 5px 5px;
    }
    .store-product h3 {
        font-size: 24px;
        letter-spacing: 2px;
    }
    .store-product .new-short {
        font: 20px Georgia, serif;
    }
    .header-cart,.header-search {
        display:table-cell;
        /* width:50%; */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .header-search {
        float:left;
        padding:0px;
        margin-bottom:0px;
        width: 100%;
        position: absolute;
    }
    .header-top > div {
        overflow: hidden;
        position:relative;
    }
    .header-cart {
        padding: 0 0 0 30px;
        text-align: right;
        white-space: nowrap;
        padding:0px;
        position: relative;
        z-index:2;
        max-width: 229px;
    }
    .header-search form {
        padding:0 0px 0 30px;
    }
    .header-cart div {
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .header-cart-ico a {
        text-align: initial;
    }
    span.search-btn {
        margin-left: -30px;
        float: left;
    }
    .header-cart-contents span {
        padding: 0px;
    }
    .header-search input[type="text"] {
        margin:0px;
        width:25%;
        height: 25px;
        z-index: 3;
        position: relative;
        padding: 0 40px 0 10px;
    }
    .header-search input[type="text"]:focus {
        width:100%;             
    }
    .header-search input[type="text"]:focus ~ span:after {
        content:"x";
    }
    .header-search input[type="text"] ~ span {
        top:-25px;
        position: absolute;
        display: inline-block;
        width: 40px;
        line-height: 22px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        right: 0px;
        text-align: center;
        z-index:4;
    }
    .header-search input[type="text"]:focus ~ span {
        top: 0px;        
    }
    .header-nav{display: none;}
    .header-nav-mobile{display: block;}
    .header-nav-mobile li {
        display: block;
        margin: 0px;
        border-left: none;
        line-height: 12px;
    }
    .header-nav-mobile li a {
        display: block;
        padding: 10px 0px;
        font-size: 13px;
        font-family: Georgia, serif;
        font-weight: bold;
    }
    .header-nav-mobile ul {
        display:none;
        text-align: left;
        margin-bottom: 15px;
        padding: 0 10px;
    }
    .header-nav-mobile-title {
        /*content: "MENU +";*/
        float: none;
        display: block;
        text-align: left;
        padding: 25px 10px;
        font-size: 1.5em;
        font-weight: normal;
        overflow: hidden;
        cursor:pointer;
        background: url('images/bg-nav-menu.png') 86px 32px no-repeat;
    }
    .open .header-nav-mobile-title {
        /*content: "MENU -";*/
        background: url('images/bg-nav-menu-2.png') 86px 32px no-repeat;
    }
    /*
    .header-search,.header-cart {
        width: 100%;
        float: none;
        display: block;
        text-align: left;
        margin-bottom: 15px;
    }
    */
    .header-cart-contents {
        margin-left: 2px;
        max-width: 127px;
    }    
    /****product****/
    .product-media {
        float:none;
        width:auto;
    }
    .product-image-gallery {
        width:auto;
    }
    .product-image-gallery a {
        margin: 0 8px;
    }
    .th_add_img {
        padding: 35px 40px;
    }
    .product-image-gallery-ctrl i {
        top: 74px;
    }
    .product-desc {
        float: none;
        width: 100%;
        padding: 25px 0 200px 0;
    }
    .product-image img {
        height: auto;
    }

    .product-price {
        /*width: 95%;
        padding: 0px;
        line-height: 50px;
        text-align: center;*/
    }
    .product-links {
        overflow: hidden;
        position: relative;
        float: none;
        width: 200%;
        padding-left: 100%;
        top: -52px;
        border-top:none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .product-links a {
        float: none;
        width: 95%;
        margin-left: -100%;
        border-top: none;
        position: relative;
    }
    .product-links a:first-child {
        margin-left: 0;
        border-top: 1px solid #1d1d1b;
        float:right;
    }
    .product-links a:nth-child(2) {
        clear: both;
        float:left;
    }
    .product-extra {
        padding: 20px 50% 0 0;
        height: 130px;
    }
    div.product-buy {
        text-align: right;
    }
    div.product-buy form {
        display: inline-block;
    }
    .product-cart-ico {
        display: inline-block;
        margin: 0 10px 0 0;
        float:none;
        text-align: left;
    }
    /****listing****/
    #content > .catboxBg,#content .pagination {
        display:none;
    }
    #content > div.pagination.pagination-alt {
        display:block;
    }
    .products-rows {
        padding-bottom:0px;
    }
    div.product-list {
        margin-top:25px;
    }
    .row-item .product-name {
        padding:10px 0px 5px 0px;
        width: 100%;
    }
    .row-item {
        float: none;
        width: 100%;
        margin: 0 0px 25px 0px;
        text-align: center;
        min-height: 270px;
        height:auto;
    }
    .row-item .img-holder, .row-item .img-holder table, .row-item .img-holder table td{
      height: auto;
      width: 100%;
  }
  .header-navWrapp, .shopping_cart .header-navWrapp{padding: 0 10px;}
  .row-item .img-holder img {
    width: auto;
    height: auto;
  }
    .row-item .img-holder img {
        display:inline;
        height:auto;
    }
    .row-item .product-name a {
        font-size: 20px;
    }
    .row-item .prices {
        font: bold 15px Georgia, serif;
    }
    /****checkout****/
    .checkout-box {
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        float: none;
        color: #a0a0a0;
        font-size: 12px;
    }
    .checkout-box .form-set {
        /*padding-right: 14%;*/
    }
    .form-row .form-group:first-child {
        margin-right: 10%;
    }
    .form-row .form-group {
        float: left;
        width: 45%;
    }
    .form-set.form-set-billing > .form-group:nth-child(2) input {
        width:auto;
    }
    /****login/account****/
    .table-form-label {
        width:0px;

    }
    .content-page-heading {
        font-size: 20px;
    }
    #loginContent td,#loginContent .tableForm td {
        float: none;
        display: block;
        width: 100%;
        margin-top: 5px;
        text-align: left;
        padding: 0px;
    }
    #loginContent td > *,#loginContent table,#loginContent .tableForm td,#loginContent .tableForm,#loginContent .tableForm td > * {
        width:100%!important;
    }
    #login_welcome .button2 {
        margin-top:10px;
    }
    #loginContent .tableForm td > input#newsletter,div.main.searchKeywords input {
        width:auto!important;
    }
    #loginContent > form:first-of-type .main:nth-child(2) td.table-form-label {
        display:none;
    }
    /****shop_cart****/
    .cart-block { 
        float: none;
        width: 100%;
    }
    .cart-block.cart-name-block-wrap td {
        width:45%;
    }
    td.productListing-data.cartItemName {
        padding-right:0px;
    }
    .cart-name-block tr td:first-child {
        padding-right:3%;
    }
    .cart-name-block tr td:first-child img {
        height:auto;
    }
    .cart-name-block tr td:last-child {
        padding-left:3%;
    }
    .total-block {
        width: auto;
        vertical-align: bottom;
        white-space: nowrap;
        text-align: right;
        font-size: 12px;
    }
    .continue-block {
        font-size: 12px;
    }
    .cart-block.cart-price-block-wrap {
        width: 78%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .checkout-block .checkout-inner {
        width: auto;
    }
    /****product reviews write****/
    .reviewsProductImage img,.center_bg.centerContent.fix_wishlist table tr.productRow > td img {
        width:100%;
        height:auto;
    }

    /****wishlist****/
    .sort-block {
        position: static;
        left: 0px;
        top: 0px;
    }
    .pageResultsActive, .pageResults {
        padding: 3px 10px 3px 10px;
        margin: 0 6px;
    }
    .paginationBox {
        overflow: hidden;
        padding: 15px 0px;
    }
    .paginationNav {
        float: right;
        margin: 3px 0 5px;
    } 
    .center_bg.centerContent.fix_wishlist table tr.productRow {
        border-bottom: 1px solid #373735;
    }
    .center_bg.centerContent.fix_wishlist table tr.productRow > td.productColumnSell:first-child {
        padding: 10px 2px 10px 0;
        vertical-align: top;
    }
    .center_bg.centerContent.fix_wishlist table tr.productRow > td.productColumnSell:last-child {
        padding: 10px 0 10px 2px;
        vertical-align: top;
    }
    .center_bg.centerContent.fix_wishlist table tr.productRow > td .productButtonCell {
        width: 80%;
        border-top: 1px solid #373735;
        margin-top: 5px;
        padding-top: 5px;
    }
    .center_bg.centerContent.fix_wishlist table tr.productRow td > * {
        height:auto!important;
        min-height: 0px!important;
    }
    .center_bg.centerContent.fix_wishlist table tr.productRow td div.productDescriptionCell {
        padding: 7px 0px;
    }
    .socialsBoxWrapp{display: none;}
      .ot-title {
  width: 80%;
}
.product-image .gallery{height: auto;}
.sitemap #content ul{padding: 0 0 0 16px;}
.checkout-inner .button{font-size: 14px; padding: 14px 10px;}
.button-buy .button{padding: 10px 11px;}
.wrappProdPrice01 .product-price{font-size: 22px;}
.head-curr{float: left; margin: 35px 0 0;}
.head-curr ul li{margin: 0 5px 0 0;}
.item_country{width: 100%; margin: 0 0 5px 0;}
.product-desc-wrapp table td{font-size: 12px !important;}
.product-desc-wrapp table{width: 100% !important;}
}

@media(max-width:360px) {
    .header-cart-ico {
        padding: 0; 
    }
    .checkout-box .form-set {
        padding-right:0;
    }     

}

@media(max-width:1024px) {
    .noHeight{height: auto;}
}

@media(max-width:700px) {
    .nivoSlider{padding-bottom: 52px;}
    .shopping_cart .cartWrapp .cartItemName{font: bold 11px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    .shopping_cart .cartWrapp .productListing-heading{font: bold 11px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    .shopping_cart .cartWrapp .headingImage{text-align: center;}
    .cartItemImage, .shopping_cart .cartWrapp .headingImage{width: 100px;}
    .shopping_cart .cartWrapp .cartItemImage > a{width: 110px;}
    .shopping_cart .cartWrapp .cartItemImage img{max-width: 95px;}
    .cartItemImage .cart-price-gift{margin-top: -9px; font-size: 20px;}
    .cart_coup .coupon_text{margin-bottom: 15px;}
    .cart_coup .coupon_text, .cart_coup .discount-coupon-input{float: none; display: block;}
    .cartItemQty input[type="text"]{width: 35px; text-align: center;}
    .payccart{float: none;}
    .payccart img{max-width: 100%; height: auto;}
    .cartPriceSubTotal{float: none; width: 100%; margin-top: 15px; text-align: right;}
    .cartPriceSubTotal span.cartPriceSubTotal{width: 20%; margin-left: 5%; text-align: right;}
    .shipping-estimator .method{width: 86.7%;}
    .shipping-box-estimator .row span.name{width: 75%;}
    .cartTbot span{width: 30%; margin-left: 9%; text-align: right;}
    .wrappTotBottom .payccart{display: none;}
    .cartItemImage img{float: none;}
    .headingQty, .cartItemQty{width: 130px;}
    .shopping_cart .wtitlecart .content-page-heading{float: none;}
    .shopping_cart .wtitlecart .buttonBox{float: none; margin-top: 10px;}
    .shopping_cart .wtitlecart .buttonBox .button1, .cartPriceSubTotal .buttonBox .button1{float: none;}
    .shopping_cart .wtitlecart .buttonBox .button1 .button, .cartPriceSubTotal .buttonBox .button1 .button{display: block; text-align: center;}
    .shipping-estimator .sm_drop{left: 0; top: 30px;}
    .shipping-estimator h2{padding: 0 0 54px;}
    .shipping-box-estimator .row span.price{text-align: right;}
    .head-chek #logo{float: none;}
    .chek-t{float: none; font: normal 26px "Montserrat", Arial, Helvetica, Verdana, sans-serif; text-align: center;}
    .orderProcessHeading{font: normal 20px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    .orderProcessHeading span{width: 35px; height: 23px;}
    #cartContentBox .cartContentBoxTitle{font: normal 20px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    #cartContentBox .cartProductImage img{max-width: 100px;}
    #cartContentBox .cartContentBoxContHead{font: bold 14px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    #cartContentBox .cartProductName{font: bold 12px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    #cartContentBox .cartProductPriceTotal, #cartContentBox .cartProductQty{font: normal 14px "Montserrat", Arial, Helvetica, Verdana, sans-serif;}
    .visitor_cart{padding: 12px 11px 12px 64px; background: #575656 url('images/bg-visitor.png') 19px 50% no-repeat; font-size: 12px;}
    .visitor_cart a{font-size: 13px;}
    .orderProcessContent .login_div{width: auto;}
    .orderProcessContent div.field_email label, .orderProcessContent div.field_email input, .field_create_acc input, .field_create_acc label{display: inline;}
    .left_td, .right_td{display: block; width: 100% !important; padding: 0;}
    .payccart2{margin-bottom: 15px;}
    .checkoutDiv{display: block;}
    .checkoutDiv .checkoutTableLeft, .conf_left{display: block; width: 100%; padding-right: 0;}
    .checkoutDiv .checkoutTableRight, .conf_right{display: block; width: 100%;}
}
@media(max-width:600px) {
    .cartItemImage .cart-price-gift{font-size: 20px;}
    .wrapp_success{width: 300px;}
    .wrapp_success .content-page-heading{font-size: 20px; padding: 8px 25px;}
    .wrapp_success .info-text{font-size: 16px;}
    .checkout_success .buttonBox .button1, .checkout_success .buttonBox .button2{float: none; width: 100%;}
    .checkout_success .buttonBox .button1 .button, .checkout_success .buttonBox .button2 .button{display: block; text-align: center; margin-bottom: 20px;}
    .cartItemImage a{float: none;}
}
@media(max-width:460px) {
    .product-attributes{width: auto; display: block; margin-right: 0; margin-bottom: 15px;}
    .galleryTextZoom {display:none;}    
    .shopping_cart .less, .shopping_cart .more{display: block;}
    .qty-buttons{margin: 0 !important;}
    .cartItemQty input[type="text"]{margin: 5px 0 !important;}
    #creatAccount .buttonBox{float: none; width: 100%;}
    #creatAccount .newsletter_div{float: none; width: 100%; margin: 0 0 15px;}
    .orderProcessHeading{font-size: 14px;}
    .orderProcessHeading span{font-size: 19px;}
    .orderProcessHeading a.button{margin-top: 2px;}
    body.checkout_payment .coupon_text{float: none;}
    body.checkout_payment .discount-coupon-input{float: none; margin-top: 15px; display: block; text-align: right;}
    #cartContentBox .cartProductImage a.fLink{width: 105px;}
    #cartContentBox .cartProductImage a.fLink{float: none;}
}